@model IEnumerable<RodDB.Models.Moto>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Novo", "Cadastrar") |
    @Html.ActionLink("Voltar", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |
            @Html.ActionLink("Deletar", "Deletar", new { id = item.Id })
        </td>
    </tr>
}

</table>
